.hero {
  position: relative;
  height: 60vh; /* full screen hero */
  overflow: hidden;
}

/* Make image behave like a background */
.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* like background-size: cover */
  z-index: 1;
}

/* Optional dark overlay for readability */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 2;
}

/* Text container on top of image */
.wrap-1 {
  position: relative;
  z-index: 3;
  color: white;
  max-width: 700px;
  padding: 60px 80px; /* adjust spacing */
}
.wrap-1 h1{
    font-size: 30px;
}

.hero .wrap-hero .wrap-1 h1::first-letter{
    font-size: 50px;
    color: #e13939;
    font-style: italic;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8),
                 0 8px 30px rgba(0,0,0,0.6);
}
/* Button style */ /* From Uiverse.io by Creatlydev */ 
.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: #fff;
  color: black;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #fff;
  background-color: black;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #e13939;
  color: #fff;
}

.button:hover .button__icon-wrapper {
  color: #e13939;
  background-color: #fff;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}




/* About Section css */

main .about{
    display: flex;
    flex-direction: column;
}

main .about h2{
    text-align: center;
    padding: 20px 10px;
    font-size: 2em;
}

main .about .wrap-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 80px;
    height: 90%;
    margin: 20px 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

main .about .wrap-2 p{
    text-align: justify;
    font-size: 18px;
    height: auto;
}

main .about .wrap-2 .dp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

main .about .wrap-2 .dp img{
    height: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 15px 30px ;
}

main .about h3{
    text-align: center;

}



